.profile {
  color: var(--color-primary);
}
.profile_top {
  margin-top: 56px;
  box-shadow: 0 1px 2px var(--shadow-1);
  background: var(--bg-primary);
}
.profile_container {
  max-width: 945px;
  margin: 0 auto;
  padding-bottom: 30px;
}
.profile_cover {
  position: relative;
  height: 350px;
  width: 100%;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background: var(--bg-secondary);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.update_cover_wrapper {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
}
.open_cover_update {
  background: #fff;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  border-radius: 10px;
  cursor: pointer;
}
.open_cover_update i {
  transform: scale(0.9);
  margin-top: 4px;
}
.open_cover_menu {
  background: var(--bg-primary);
  position: absolute;
  right: 0;
  padding: 10px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 12px 28px 0 var(--shadow-1), 0 2px 4px 0 var(--shadow-2),
    inset 0 0 0 px var(--shadow-inset);
  z-index: 99;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.open_cover_menu_item {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  border: none;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  border-radius: 10px;
  background: var(--bg-primary);
}
.profile_img_wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  margin-bottom: -2.8rem;
}
.profile_w_left {
  display: flex;
  gap: 1rem;
  padding: 1rem 13px 0 13px;
}
.profile_w_img {
  position: relative;
}
.profile_w_bg {
  width: 180px;
  height: 180px;
  transform: translateY(-3.6rem);
  border-radius: 50%;
  background-repeat: no-repeat;
  border: 2px solid #fff;
  background: #fff;
  cursor: pointer;
  background-position: center center;
}
.profile_w_bg:hover {
  filter: brightness(95%);
}
.profile_circle {
  position: absolute;
  bottom: 4.5rem;
  right: 0.55rem;
  background: var(--bg-third);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.profile_name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 32px;
}

.profile_w_right {
  display: flex;
  gap: 8px;
  padding: 0 18px;
  margin-bottom: 7px;
}
.add-to-story-btn {
  height: 36px;
  img {
    width: 16px;
    height: 16px;
  }
}
.invert {
  filter: invert(100%);
}
/*--Menu-------*/
.profile_menu_wrap {
  position: relative;
  padding: 0 2.2rem;
}
.profile_menu {
  position: relative;
  border-top: 1px solid var(--border-color);
  display: flex;
  height: 40px;
  padding: 0;
}
.profile_menu a {
  width: 78.5px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 3px 0;
  color: var(--color-secondary);
}
.profile_menu_active {
  width: 65px !important;
  margin: 0 !important;
  color: var(--blue-color) !important;
  border-bottom: 3px solid var(--blue-color);
  border-radius: 0 !important;
}
.p10_dots {
  background: var(--bg-third);
  position: absolute;
  right: 0;
  top: 10px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  padding: 8px 14px;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    transition: 0.3s all;
  }
}
.p10_dots svg {
  width: 16px;
  height: 16px;
  margin-top: 2px;
  margin-left: 2px;
}

.profile_bottom {
  margin-top: 1px;
  background: var(--bg-secondary);
}
.bottom_container {
  padding: 10px 2.2rem;
}

.light_blue_btn img {
  width: 20px;
}

.profile_grid {
  display: grid;
  grid-template-columns: 1fr 1.4fr;
  gap: 10px;
}
.left_header_grid {
  font-size: 22px;
  font-weight: 600;
}
.flex {
  display: flex;
  align-items: center;
  gap: 6px;
}
.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr) !important;
  font-size: 14px;
}
.view_type {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-weight: 600;
  color: var(--color-secondary);
}

.profile_card {
  background: var(--bg-primary);
  border-radius: 10px;
  box-shadow: 0 1px 2px var(--shadow-1);
  padding: 10px 15px;
  margin-top: 15px;
}
.profile_card_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 12px;
}
.profile_header_link {
  font-weight: normal;
  font-size: 16px;
  color: var(--blue-color);
  cursor: pointer;
  padding: 4px 8px;
  transition: 0.3s ease;
  border-radius: 8px;
}
.profile_header_link:hover {
  background: var(--bg-secondary);
}
.profile_card_count {
  color: var(--color-secondary);
}
.profile_card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}
.profile_photo_card {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.profile_photo_card img {
  width: 100%;
  height: 105px;
  object-fit: cover;
  border-radius: 10px;
}
.cover_cropper {
  height: 100%;
}
.cover_cropper img {
  object-fit: cover;
  width: 100%;
}
.save_changes_cover {
  z-index: 999;
  position: fixed;
  display: flex;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.7);
  font-weight: 500;
  font-size: 14px;
  color: var(--color-primary);
}
.save_changes_left {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.save_changes_left i {
  filter: invert(100%);
}
.save_changes_right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.save_changes_right button:first-of-type {
  width: 100px;
  background-color: #39393f;
}
.save_changes_right button:last-of-type {
  width: 160px;
}
.pictureBox {
  width: 700px !important;
  height: 62vh;
}
.update_picture_wrap {
  padding: 10px 15px;
}
.update_picture_buttons {
  display: flex;
  gap: 10px;
}
.update_picture_buttons button {
  width: 100%;
}
.update_picture_buttons .light_blue_btn {
  color: var(--blue-color);
}

.update_img {
  width: 700px !important;
  min-height: fit-content;
}
.update_image_desc {
  padding: 15px;
}
.textarea_blue {
  width: 100%;
  height: 85px;
  resize: none;
  border-radius: 7px;
  outline-offset: 5px;
  border-color: var(--bg-third);
  padding: 1.1rem;
  font-size: 16px;
  font-family: inherit;
  background: var(--bg-primary);
  color: var(--color-primary);
}
.textarea_blue:focus {
  outline-color: var(--blue-color);
}
.textarea_blue:hover {
  border-color: var(--color-secondary);
}
.update_center {
  position: relative;
  min-height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.crooper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
}
.crooper img {
  width: 100%;
  object-fit: contain;
}
.update_img .reactEasyCrop_CropAreaGrid {
  width: 300px !important;
  height: 300px !important;
  color: rgba(255, 255, 255, 0.5);
}
.slider {
  width: 100%;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
.slider input[type="range"] {
  -webkit-appearance: none;
  width: 55%;
  height: 4px;
  background: #ced0d4;
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 2px var(--shadow-1), 0 2px 2px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  border: 1px solid var(--bg-third);
}
.slider_circle {
  width: 36px;
  height: 36px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.flex_up {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 2rem;
}
.flex_p_t {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: var(--color-secondary);
  font-size: 17px;
  border-bottom: 1px solid var(--bg-third);
}
.update_submit_wrap {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: end;
  width: 100%;
  gap: 4rem;
  button {
    min-height: 100%;
  }
}
.blue_link {
  color: var(--blue-color);
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
.update_submit_wrap button {
  width: 110px !important;
}
.old_pictures_wrap {
  padding: 15px;
  overflow-y: auto;
  height: 450px;
}
.old_pictures_wrap h4 {
  padding: 10px 0;
}
.old_pictures {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  gap: 10px;
}
.old_pictures img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  cursor: pointer;
}
.old_pictures img:hover {
  filter: brightness(110%);
}
.old_pictures:first-of-type {
  border-bottom: 1px solid var(--bg-third);
}
.selectCoverBox {
  width: 570px;
  max-width: 80vw;
}
.selectCoverBox_links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5px 15px;
}
.selectCoverBox_link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  padding: 5px 0 10px 0;
  cursor: pointer;
}
.selectCoverBox_link:first-of-type {
  color: var(--blue-color);
  border-bottom: 3px solid var(--blue-color);
}
.othername {
  font-size: 16px;
  color: #ccc;
}

/*-----profile card--------*/
@media (max-width: 900px) {
  .profile_w_left {
    flex-direction: column;
    align-items: center;
  }
  .profile_w_col {
    transform: translateY(-3.6rem);
  }
  .profile_w_right {
    transform: translateY(-3.6rem);
  }
  .profile_img_wrap {
    flex-direction: column;
    justify-content: center;
  }
  .profile_circle {
    right: 1rem;
  }
  .profile_name {
    padding-bottom: 10px;
    flex-direction: column;
  }

  .profile_grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
  .profile_grid .createPost {
    width: 100% !important;
  }
  .bottom_container {
    padding: 5px;
  }
  .friendship {
    transform: translateY(-4rem);
  }
}

/*--Menu-------*/
@media (max-width: 900px) {
  .profile_w_left {
    flex-direction: column;
    align-items: center;
  }
  .profile_w_col {
    transform: translateY(-3.6rem);
  }
  .profile_w_right {
    transform: translateY(-3.6rem);
  }
  .profile_img_wrap {
    flex-direction: column;
    justify-content: center;
  }
  .profile_circle {
    right: 1rem;
  }
  .profile_name {
    padding-bottom: 20px;
    gap: 6px;
  }

  .profile_grid {
    grid-template-columns: 1fr;
    width: 95%;
  }
}

@media (max-width: 650px) {
  .profile_menu_wrap {
    display: none;
  }
}
@media (max-width: 510px) {
  .update_cover_wrapper {
    bottom: 3rem;
  }
}
.scrollFixed .profile_left {
  position: fixed;
  width: 360px;
}
.scrollFixed .profile_right {
  margin-left: 370px;
  width: 505px;
}
.showLess .profile_left {
  bottom: 10px;
}
.showMore .profile_left {
  top: 54px;
}
.friendship {
  z-index: 9;
  display: flex;
  align-items: center;
  gap: 10px;
}
.friendship .blue_btn {
  height: 35px;
}
