/*-----Register---------*/
.register {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 1rem;
  width: 350px;
  height: fit-content;
  color: var(--color-primary);
  z-index: 99;
}
.register_header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--bg-third);
  margin-bottom: 10px;
}
.register_header i {
  position: absolute;
  right: 0;
  cursor: pointer;
}
.register_header span:first-of-type {
  font-weight: 700;
  font-size: 32px;
}
.register_header span:last-of-type {
  font-size: 15px;
  color: var(--color-secondary);
}

// Error Text
.error-text {
  background-color: #ffebe8;
  border: 1px solid #e1522b;
  padding: 10px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 15px;
}
.success-text {
  background-color: #e1f9e0;
  border: 1px solid green;
  padding: 10px;
  margin-bottom: 4px;
  font-weight: bold;
  font-size: 15px;
}
// Error Text

.register_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reg_line {
  padding: 7px 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.reg_line_desktop {
  padding: 7px 0;
  display: flex;
  align-items: center;
  gap: 10px;
}
.reg_col {
  position: relative;
  align-self: flex-start;
  margin-bottom: 10px;
  padding: 0 10px;
}
.reg_line_header {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 13px;
  color: var(--color-secondary);
  i {
    margin-left: 4px;
    cursor: pointer;
  }
}
.box-more_register {
  background-color: black;
  color: #ccc;
  font-size: 14px;
  padding: 4px;
}
.reg_line_header i {
  margin-top: 3px;
}
.reg_grid {
  margin-top: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  height: 35px;
  width: 100%;
}
.reg_grid select {
  width: 90px;
  font-size: 16px;
  color: var(--color-primary);
  background: var(--bg-primary);
  border-radius: 5px;
  cursor: pointer;
}
.reg_grid label {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  color: var(--color-primary);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid var(--color-secondary);
  padding: 0 10px;
}
.reg_infos {
  font-size: 11px;
  margin-top: 10px;
  color: var(--color-secondary);
}
.reg_infos span {
  color: var(--blue-color);
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
.reg_btn_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
  .loading-register {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 16px 0 0 10px;
  }
}

/*----Register------*/

// Media Queries
@media (min-width: 850px) {
  .register {
    width: 433px;
  }
  .reg_col {
    width: 100%;
    select {
      width: 100%;
      height: 36px;
    }
    label {
      width: 100%;
      height: 36px;
    }
  }
}
// Media Queries
