.scrollbar {
  ::-webkit-scrollbar {
    width: 10px !important;
  }
}
// Track
.scrollbar {
  ::-webkit-scrollbar-track {
    border-radius: 10px !important;
  }
}
/* Handle */
.scrollbar {
  ::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-color);
    border-radius: 10px !important;
  }
}
/* Handle on hover */
.scrollbar {
  ::-webkit-scrollbar-thumb:hover {
    background: gray !important;
  }
}
