* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  background-color: var(--bg-secondary);
}
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: inherit;
}

.hover1:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: var(--bg-secondary);
}
.hover2:hover {
  transition: 0.3s;
  background-color: #d1d1d1;
}
.hover3:hover {
  transition: 0.3s;
  background-color: var(--bg-secondary);
}

.blue_btn {
  border: none;
  outline: none;
  background: var(--blue-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  width: fit-content;
  font-size: 1.6rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }
  &.reset-password.loading {
    opacity: 0.8;
    user-select: none;
    cursor: default;
  }
}
.light_blue_btn {
  border: none;
  outline: none;
  background: var(--light-blue-color);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.gray_btn {
  border: none;
  outline: none;
  background: var(--bg-secondary);
  padding: 8.5px 12px;
  border-radius: 7px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: fit-content;
  gap: 6px;
  cursor: pointer;
  &:hover {
    transition: 0.3s;
    opacity: 0.8;
  }
}
/*----Buttons----*/
.blur {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.768);
  z-index: 9999;
}
