.text-14 {
  font-size: 1.4rem !important;
}
.text-16 {
  font-size: 1.6rem !important;
}
.cursor-pointer {
  cursor: pointer;
}
.filter_blue {
  filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%)
    saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg)
    brightness(97%) contrast(96%);
}
