.dark {
  --bg-primary: #242526;
  --bg-secondary: #18191a;
  --bg-third: #44495026;
  --bg-forth: #3a3b3c;
  --bg-fifth: #323436;
  --bg-sixth: #ffffff1a;
  --color-primary: #e4e6eb;
  --color-secondary: #b0b3b8;
  --blue-color: #2e89ff;

  .blur {
    background: rgba(1, 1, 1, 0.53);
  }
  .hover1:hover,
  .hover2:hover {
    background: var(--bg-third);
  }
  /* ----Header -----*/
  .header_right svg {
    fill: #fff !important;
  }
  .profile_card_header {
    color: var(--color-primary);
  }
  .all_right_circle i {
    filter: invert(100%);
  }
  .header-profile-wrapper .circle_icon:not(.header-profile__active) svg {
    filter: invert(100%);
  }
  .active_header {
    background: var(--light-blue-color) !important;
  }
  .active_header svg {
    fill: var(--blue-color) !important;
  }
  .header_right .circle_icon:hover {
    background: var(--bg-fifth);
  }
  input[type="text"] {
    color: var(--color-primary);
  }
  .small_circle i,
  .small_circle svg,
  .white_circle svg,
  .circle i {
    filter: invert(100%) !important;
  }
  /* ----Header -----*/

  .open_post:hover {
    background: #333;
  }
  .post_action i {
    filter: invert(90%);
  }
  .post_menu i,
  .post_menu img {
    filter: invert(100%);
  }
  .comment_circle_icon i {
    filter: invert(95%);
  }
  .comment_circle_icon:hover {
    background: #555;
  }
  .box_privacy i,
  .box_privacy img {
    filter: invert(95%);
  }
  .emoji_icon_large:hover {
    filter: invert(0);
  }
  .add_pics_wrap i {
    filter: invert(100%);
  }
  /*----profile---*/
  .active_link:hover {
    background: var(--light-blue-color);
  }
  .profile_name {
    color: var(--color-primary);
  }
  .left_header_grid {
    color: var(--color-primary);
  }

  .open_cover_menu i,
  .open_cover_menu img {
    filter: invert(100%);
  }
  .profile_circle i {
    filter: invert(100%);
  }
  .gray_btn {
    background: var(--bg-third);
  }
  .gray_btn:hover {
    background: #777;
  }
  .gray_btn i,
  .gray_btn img {
    filter: invert(100%);
  }
  .profile_container svg {
    filter: invert(88%);
  }
  .grid_icon {
    filter: invert(80%);
  }
  .pictureBox i {
    filter: invert(100%) !important;
  }
  .slider i {
    filter: invert(100%);
  }
  .flex_p_t i {
    filter: invert(100%);
  }
  .info_text {
    color: var(--color-primary);
  }
  .gray_btn {
    color: var(--color-primary);
  }
  /*----profile---*/
  .relative_fb_copyright {
    color: var(--color-secondary);
  }
  .profile_header_link {
    &:hover {
      background-color: var(--bg-sixth);
    }
  }
  // Bin

  .second-icon svg,
  .bin-icon svg,
  .trash_icon {
    filter: invert(100);
  }
  // Bin
}
